@theme inline {
  --color-tokyonight-zenburn-bg: oklch(from #4f4f4f l c h);
  --color-tokyonight-zenburn-bg-dark: oklch(from #2b2b2b l c h);
  --color-tokyonight-zenburn-bg-dark1: oklch(from #303030 l c h);
  --color-tokyonight-zenburn-bg-float: var(--color-tokyonight-zenburn-bg-dark);
  --color-tokyonight-zenburn-bg-highlight: oklch(from #5f5f5f l c h);
  --color-tokyonight-zenburn-bg-popup: var(--color-tokyonight-zenburn-bg-dark);
  --color-tokyonight-zenburn-bg-search: var(--color-tokyonight-zenburn-blue0);
  --color-tokyonight-zenburn-bg-sidebar: var(--color-tokyonight-zenburn-bg-dark);
  --color-tokyonight-zenburn-bg-statusline: var(--color-tokyonight-zenburn-bg-dark);
  --color-tokyonight-zenburn-bg-visual: oklch(from #4e5c5d l c h);
  --color-tokyonight-zenburn-black: oklch(from #3f3f3f l c h);
  --color-tokyonight-zenburn-black-bright: oklch(from #3f3f3f l c h);
  --color-tokyonight-zenburn-blue: oklch(from #8cd0d3 l c h);
  --color-tokyonight-zenburn-blue-bright: oklch(from #74e3e8 l c h);
  --color-tokyonight-zenburn-blue0: oklch(from #4c7073 l c h);
  --color-tokyonight-zenburn-blue1: oklch(from #94bff3 l c h);
  --color-tokyonight-zenburn-blue2: oklch(from #ace0e3 l c h);
  --color-tokyonight-zenburn-blue5: oklch(from #7cb8bb l c h);
  --color-tokyonight-zenburn-blue6: oklch(from #5c888b l c h);
  --color-tokyonight-zenburn-blue7: oklch(from #366060 l c h);
  --color-tokyonight-zenburn-border: var(--color-tokyonight-zenburn-black);
  --color-tokyonight-zenburn-border-highlight: oklch(from #86a9d2 l c h);
  --color-tokyonight-zenburn-comment: oklch(from #7f9f7f l c h);
  --color-tokyonight-zenburn-cyan: oklch(from #dfaf8f l c h);
  --color-tokyonight-zenburn-cyan-bright: oklch(from #efbc9b l c h);
  --color-tokyonight-zenburn-dark3: oklch(from #6f6f6f l c h);
  --color-tokyonight-zenburn-dark5: oklch(from #000000 l c h);
  --color-tokyonight-zenburn-diff-add: oklch(from #474f47 l c h);
  --color-tokyonight-zenburn-diff-change: oklch(from #4b5252 l c h);
  --color-tokyonight-zenburn-diff-delete: oklch(from #766868 l c h);
  --color-tokyonight-zenburn-diff-text: var(--color-tokyonight-zenburn-blue7);
  --color-tokyonight-zenburn-error: var(--color-tokyonight-zenburn-red1);
  --color-tokyonight-zenburn-fg: oklch(from #dcdccc l c h);
  --color-tokyonight-zenburn-fg-dark: oklch(from #fffffd l c h);
  --color-tokyonight-zenburn-fg-float: var(--color-tokyonight-zenburn-fg);
  --color-tokyonight-zenburn-fg-gutter: oklch(from #656555 l c h);
  --color-tokyonight-zenburn-fg-sidebar: var(--color-tokyonight-zenburn-fg-dark);
  --color-tokyonight-zenburn-git-add: oklch(from #626f62 l c h);
  --color-tokyonight-zenburn-git-change: oklch(from #88c7ca l c h);
  --color-tokyonight-zenburn-git-delete: oklch(from #bb8a8a l c h);
  --color-tokyonight-zenburn-git-ignore: var(--color-tokyonight-zenburn-dark3);
  --color-tokyonight-zenburn-green: oklch(from #cc9393 l c h);
  --color-tokyonight-zenburn-green-bright: oklch(from #e29d9d l c h);
  --color-tokyonight-zenburn-green1: oklch(from #7cb8bb l c h);
  --color-tokyonight-zenburn-green2: oklch(from #2f4f2f l c h);
  --color-tokyonight-zenburn-hint: var(--color-tokyonight-zenburn-teal);
  --color-tokyonight-zenburn-info: var(--color-tokyonight-zenburn-blue2);
  --color-tokyonight-zenburn-magenta: oklch(from #f0dfaf l c h);
  --color-tokyonight-zenburn-magenta-bright: oklch(from #faedcd l c h);
  --color-tokyonight-zenburn-magenta2: oklch(from #d0bf8f l c h);
  --color-tokyonight-zenburn-orange: oklch(from #afd8af l c h);
  --color-tokyonight-zenburn-purple: oklch(from #e0cf9f l c h);
  --color-tokyonight-zenburn-rainbow1: var(--color-tokyonight-zenburn-blue);
  --color-tokyonight-zenburn-rainbow2: var(--color-tokyonight-zenburn-yellow);
  --color-tokyonight-zenburn-rainbow3: var(--color-tokyonight-zenburn-green);
  --color-tokyonight-zenburn-rainbow4: var(--color-tokyonight-zenburn-teal);
  --color-tokyonight-zenburn-rainbow5: var(--color-tokyonight-zenburn-magenta);
  --color-tokyonight-zenburn-rainbow6: var(--color-tokyonight-zenburn-purple);
  --color-tokyonight-zenburn-rainbow7: var(--color-tokyonight-zenburn-orange);
  --color-tokyonight-zenburn-rainbow8: var(--color-tokyonight-zenburn-red);
  --color-tokyonight-zenburn-red: oklch(from #94bff3 l c h);
  --color-tokyonight-zenburn-red-bright: oklch(from #a4cdff l c h);
  --color-tokyonight-zenburn-red1: oklch(from #ecb3b3 l c h);
  --color-tokyonight-zenburn-teal: oklch(from #6ca0a3 l c h);
  --color-tokyonight-zenburn-todo: var(--color-tokyonight-zenburn-blue);
  --color-tokyonight-zenburn-warning: var(--color-tokyonight-zenburn-yellow);
  --color-tokyonight-zenburn-yellow: oklch(from #8cd0d3 l c h);
  --color-tokyonight-zenburn-yellow-bright: oklch(from #74e3e8 l c h);
}