(
  selected_tab: Some("#f0dfaf"),
  command_fg: Some("#7f9f7f"),
  selection_bg: Some("#5f5f5f"),
  selection_fg: Some("#f0dfaf"),
  cmdbar_bg: Some("#4f4f4f"),
  cmdbar_extra_lines_bg: Some("#4f4f4f"),
  disabled_fg: Some("#7f9f7f"),
  diff_line_add: Some("#cc9393"),
  diff_line_delete: Some("#94bff3"),
  diff_file_added: Some("#7cb8bb"),
  diff_file_removed: Some("#8c5353"),
  diff_file_moved: Some("#d0bf8f"),
  diff_file_modified: Some("#8cd0d3"),
  commit_hash: Some("#f0dfaf"),
  commit_time: Some("#4c7073"),
  commit_author: Some("#cc9393"),
  danger_fg: Some("#94bff3"),
  push_gauge_bg: Some("#4f4f4f"),
  push_gauge_fg: Some("#dcdccc"),
  tag_fg: Some("#d0bf8f"),
  branch_fg: Some("#8cd0d3")
)
